.header {
  margin: 20px 0 40px 0;
  max-width: 120px;
  border-radius: 10px;
  padding: 20px 30px 18px 30px;
  box-shadow: 4px 4px 8px #2b2b2c, -4px -4px 8px #3f3f40;
  color: rgb(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.05);
}
